<footer>
  <div>
    <p class="h6">Contact Us</p>
    <ul>
      <li>Address:</li>
      <li>Email:</li>
      <li>Phone:</li>
    </ul>
  </div>
  <div>
    <p class="h6">Follow Us</p>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>Twitter</p>
  </div>
</footer>
</body>
</html>
