<footer>
  <div>
    <p class="h6">Contact Us</p>
    <ul>
      <li>Address: 123 Taco Street, Tacotown, AB</li>
      <li>Email: <a href="mailto:taco@tacoempire.com">taco@tacoempire.com</a></li>
      <li>Phone: 780-555-TACO</li>
    </ul>
  </div>
  <div>
    <p class="h6">Follow Us</p>
    <p><img src="/images/fb-logo.png" alt="Taco Empire" class="logo">Facebook</p>
    <p><img src="/images/instagram-logo.png" alt="Taco Empire" class="logo">Instagram</p>
    <p><img src="/images/twitter-logo.png" alt="Taco Empire" class="logo">Twitter</p>
  </div>
</footer>
</body>
</html>
