<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/taco-empire-logo-small2.png" alt="Taco Empire" id="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders/2">Current Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Order Now</a>
          </li>
        </ul>
        <div id="collapsed-button">
          <% if(typeof user !== 'undefined'){ %>
            <form class="d-flex" action="/login/logout" method="POST">
              <button class="btn btn-light ml-2" type="submit">Logout</button>
            </form>
          <% } else { %>
            <div class="d-flex navbar-nav">
              <li class="nav-item mx-1">
                <a class="nav-link btn btn-light" href="/login/register">Register</a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link btn btn-light" href="/login">Login</a>
              </li>
            </div>
           <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
