<%- include('./partials/_head') %>
    <%- include('./partials/_header') %>
<main class="container-fluid">
  <article>
    <div>
      <img src="https://images.unsplash.com/photo-1599974579688-8dbdd335c77f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1071&q=80" alt="beef taco" />
    </div>
    <div>
      <p class="h3">Beef Taco</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ea earum corrupti voluptate. Voluptate dolor suscipit quos magni laudantium fugit, esse ab fugiat eveniet quaerat soluta inventore aspernatur cupiditate nam!</p>
        <div class="input-group mb-3">
          <span class="input-group-text">Qty</span>
          <input type="number" class="form-control" value="1" min="1" aria-label="Order Quantity">
          <button class="btn btn-success">Order Now</button>
        </div>
    </div>
  </article>
  <article>
    <div>
      <img src="https://images.unsplash.com/photo-1570461226513-e08b58a52c53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1053&q=80" alt="beef taco" />
    </div>
    <div>
      <p class="h3">Beef Taco</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ea earum corrupti voluptate. Voluptate dolor suscipit quos magni laudantium fugit, esse ab fugiat eveniet quaerat soluta inventore aspernatur cupiditate nam!</p>
        <div class="input-group mb-3">
          <span class="input-group-text">Qty</span>
          <input type="number" class="form-control" value="1" min="1" aria-label="Order Quantity">
          <button class="btn btn-success">Order Now</button>
        </div>
    </div>
  </article>
  <article>
    <div>
      <img src="https://images.unsplash.com/photo-1624300629298-e9de39c13be5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="beef taco" />
    </div>
    <div>
      <p class="h3">Beef Taco</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ea earum corrupti voluptate. Voluptate dolor suscipit quos magni laudantium fugit, esse ab fugiat eveniet quaerat soluta inventore aspernatur cupiditate nam!</p>
        <div class="input-group mb-3">
          <span class="input-group-text">Qty</span>
          <input type="number" class="form-control" value="1" min="1" aria-label="Order Quantity">
          <button class="btn btn-success">Order Now</button>
        </div>
    </div>
  </article>
  <article>
    <div>
      <img src="https://images.unsplash.com/photo-1624300629298-e9de39c13be5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="beef taco" />
    </div>
    <div>
      <p class="h3">Beef Taco</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ea earum corrupti voluptate. Voluptate dolor suscipit quos magni laudantium fugit, esse ab fugiat eveniet quaerat soluta inventore aspernatur cupiditate nam!</p>
        <div class="input-group mb-3">
          <span class="input-group-text">Qty</span>
          <input type="number" class="form-control" value="1" min="1" aria-label="Order Quantity">
          <button class="btn btn-success">Order Now</button>
        </div>
    </div>
  </article>
</main>
<%- include('./partials/_footer') %>
