<%- include('./partials/_head') %>
    <%- include('./partials/_header') %>
<main class="container-fluid order-layout">
  <div class="order-summary">
    <div>
      <table class="table table-striped table-hover">
        <tr>
          <td>1</td>
          <td>Beef Taco</td>
          <td>$5.00</td>
          <td>X</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Beef Taco</td>
          <td>$5.00</td>
          <td>X</td>
        </tr>
      </table>
      <p>Subtotal: <span id='subtotal'></span></p>
      <p>Tax: <span id='tax'></span></p>
      <p>Total: <span id='total'></span></p>
      <button class="btn btn-success col-6 offset-3">Place Order</button>
    </div>
  </div>
  <div class="menu-item-box">
    <article class="menu-item">
      <div>
        <img src="https://images.unsplash.com/photo-1599974579688-8dbdd335c77f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1071&q=80" alt="beef taco" />
      </div>
      <div>
        <p class="h3">Beef Taco</p>
        <p>Delicious beef taco. Topped with Onion,tometos,cheese.Delicious beef taco. Topped with Onion,tometos,cheese.</p>
          <div class="input-group mb-3">
            <form class="d-flex" id='beef-taco'>
              <span class="input-group-text">Qty</span>
              <input type="number" class="form-control" value="1" min="1" aria-label="Order Quantity">
              <button class="btn btn-success">Add</button>
            </form>
          </div>
      </div>
    </article>
    <article class="menu-item">
      <div>
        <img src="https://images.unsplash.com/photo-1599974579688-8dbdd335c77f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1071&q=80" alt="beef taco" />
      </div>
      <div>
        <p class="h3">Chicken Taco</p>
        <p>Delicious Chicken taco. Topped with Onion,tometos,cheese.Delicious beef taco. Topped with Onion,tometos,cheese.</p>
          <div class="input-group mb-3">
            <form class="d-flex" id='chicken-taco'>
              <span class="input-group-text">Qty</span>
              <input type="number" class="form-control" value="1" min="1" aria-label="Order Quantity">
              <button class="btn btn-success">Add</button>
            </form>
          </div>
      </div>
    </article>
    <article class="menu-item">
      <div>
        <img src="https://images.unsplash.com/photo-1599974579688-8dbdd335c77f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1071&q=80" alt="beef taco" />
      </div>
      <div>
        <p class="h3">Shrimp Taco</p>
        <p>Delicious Shrimp taco. Topped with Onion,tometos,cheese.Delicious beef taco. Topped with Onion,tometos,cheese.</p>
          <div class="input-group mb-3">
            <form class="d-flex" id='shrimp-taco'>
              <span class="input-group-text">Qty</span>
              <input type="number" class="form-control" value="1" min="1" aria-label="Order Quantity">
              <button class="btn btn-success">Add</button>
            </form>
          </div>
      </div>
    </article>

  </div>
</main>
<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
<%- include('./partials/_footer') %>
