<%- include('./partials/_head') %>
    <%- include('./partials/_header') %>
<main class="container-fluid order-layout">
  <article>
    <div>
      <p class="h5">Orders Awating Response</p>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>Order #</th>
          <th>Username</th>
          <th>Dish List</th>
          <th>Order Time</th>
          <th>Prep Time</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Nahom</td>
          <td>chicken(1),beef(2)</td>
          <td>4:50pm</td>
          <td>
            <form class="duration">
              <div class="input-group mb-3">
                <input type="number" value="0" min="0" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">min</span>
                </div>
                <button class="btn btn-info">Submit</button></td>
              </div>
            </form>
        </tr>
      </table>
    </div>
  </article>
  <article>
    <div>
      <p class="h5">Responded Orders</p>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>Order #</th>
          <th>Username</th>
          <th>Dish List</th>
          <th>Order Time</th>
          <th>Pickup Time</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Nahom</td>
          <td>chicken(1),beef(2)</td>
          <td>4:50pm</td>
          <td>5:10pm</td>
        </tr>
      </table>
    </div>
  </article>
</main>
<%- include('./partials/_footer') %>
