<%- include('./partials/_head') %>
    <%- include('./partials/_header') %>
<main class="container-fluid order-layout">
  <article>
    <div>
      <p class="h5">Responded Orders</p>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>Order #</th>
          <th>Dish List</th>
          <th>Order Time</th>
          <th>Pickup Time</th>
          <th>Order Total</th>
        </tr>
        <tr>
          <td>1</td>
          <td>chicken(1*$6),beef(2*$5)</td>
          <td>4:50pm</td>
          <td>5:10pm</td>
          <td>$10.5</td>
        </tr>
      </table>
    </div>
  </article>
</main>
<%- include('./partials/_footer') %>
