header{
  background-color: #fb8c00;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  a{
    color: #fff!important;
  }
  .btn {
    color : #000!important;
  }
  padding: 0 16px;
  #logo {
    height: 50px;
  }

  .navbar{
    padding: 0;
  }
}

@media only screen and (max-width:991px) {
  #collapsed-button{
    display: flex;
    margin-bottom: 16px;
    li{
      margin-bottom: 8px;
      a{
        padding: 4px 8px;
      }
    }
  }

}
