$primary-color:#fb8c00;

main.order-layout{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.order-summary{
  flex-basis: 30%;
  background-color: #fff;
  border-radius: .5rem;
  align-items: center;
  margin-top: 16px;
  padding: 8px;
  box-shadow: 5px 3px 5px 1px rgba(126, 126, 126, .7);
}

.menu-item-box{
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
}

article.menu-item {
  background-color: #fff;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  align-items: center;
  align-content: flex-start;
  margin: 8px;
  padding: 8px;
  box-shadow: 5px 3px 5px 1px rgba(126, 126, 126, .7);
  p.h3{
    text-align: center;
  }
  & > :first-child{
    flex-basis: 45%;
    margin: 0 10px;
    img{
      max-width: 100%;
      max-height: 184.7px;
      border:8px solid #fff;
      box-shadow: 5px 12px 10px 1px rgba(126, 126, 126, .2);
    }
  }
  & > :nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 55%;
    padding: .5rem .5rem 0;
    & > div{
      display: flex;
      justify-content: center;
      input[type=number]{
        max-width: 80px;
      }
      button{
        background-color: $primary-color;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 1415px) {
  main.order-layout{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .order-summary{
    flex-basis: none;
    justify-content: center;
    margin-top: 1rem;
    width:50%;
  }
  .menu-item-box{
    justify-content: center;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .order-summary{
    flex-basis: none;
    justify-content: center;
    margin-top: 1rem;
    width:90%;
  }
  .menu-item-box{
    margin-top: 1rem;
  }
}

