main.owner-layout{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
article.owner{
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: .5rem;
  align-items: center;
  margin: 16px 8px;
  padding: 8px;
  box-shadow: 5px 3px 5px 1px rgba(126, 126, 126, .7);
  .duration {
    display: flex;
    flex-wrap: nowrap;
    input{
      width: 80px;
    }
  }

  table{
    flex-wrap: wrap;
  }

  table{
    border:1px solid #000;
  .duration{
    display: flex;
  }
  }
}

@media only screen and (max-width:800px) {
  .owner .input-group{
    flex-wrap: nowrap;
    flex-shrink: 2;
  }
  .owner .input-group-append{
    display: none;
  }
}
