article.owner{
  width: 45%;
  max-width: none;
  flex-direction: column;
  justify-content: flex-start;

  .duration {
    display: flex;
    flex-wrap: nowrap;
    input{
      width: 80px;
    }
  }

  table{
    border:1px solid #000;
  .duration{
    display: flex;
  }
  }
}

@media screen and (max-width:1200px) {
  article.owner{
    width: 80%;
  }
}
